@media (max-width:1440px){
    .banner-descrip{
        left: 23%;
    }
    .galery-top{
        margin: 0 70px;
    }
    .why-descrip{
        width: auto;
        text-align: center;
        align-items: center;
    }
    #why .row{
        display: flex;
        flex-direction: column;

    }
}
@media (max-width:1200px){

    .galery-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 70px;
    }
    .col-w-56 {
        width: 100%;
        height: auto;
        margin: 0 70px;
    }
    .col-w-44 {
        width: 100%;
        height: auto;
        margin: 10px 70px;
    }
    .l1{
        left: 42%;
    }
    .l2{
        left: 36%;
    }
    #modelos .row{
        display: flex;
        flex-direction: column;
    }
    #modelos .row .model{
        margin: 0 80px;
    }
}
@media (max-width:1000px){
    .banner-descrip{
        top: 7%;
        left: 15%;
    }
    .banner-h4{
        font-size: 1.15rem;
    }
    .banner-h1{
        font-size: 2.5rem;
    }
    .l1{
        left: 35%;
    }
    .l2{
        left: 26%;
    }
}
@media (max-width:720px){
    .banner-descrip{
        width: 250px;
        left: 32%;
    }
    .banner-h1{
        font-size: 2rem;
    }
    .l1{
        left: 30%;
    }
    .l2{
        left: 22%;
    }
    .footer-enlaces{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .t1{
        font-size: 1.5rem;
    }
    .t2{
        font-size: 1.5rem;
    }
    #galery{
        margin: 10px 0;
        padding: 0;
    }
}
@media (max-width:576px){
    .banner-descrip{
        top: 10%;
        left: 25%;
    }
    .banner-h4{
        font-size: 0.95rem;
    }
    .banner-h1{
        font-size: 1.5rem;
    }
    .btn-text-banner{
        font-size: 0.75rem;
    }
    .l1{
        left: 22%;
    }
    .l2{
        left: 4%;
    }
    .model-descrip{
        top: 2%;
    }
    .footer-enlaces{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        width: auto;
    }
}